<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:fragment="head(title)">
            <link
                rel="stylesheet"
                href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
                integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
                crossorigin="anonymous" />
    
        <link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet" crossorigin="anonymous" />
        <title th:text="${title}">Title</title>
        <meta charset="UTF-8" />
    </head>
    <body>
        <div th:fragment="links(nickname)">
            <nav class="navbar navbar-expand-sm">
            <div class="collapse navbar-collapse">  
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/users/{nick}(nick=${nickname})}">The wall</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/users/{nick}/followers(nick=${nickname})}">Followers</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/users/{nick}/following(nick=${nickname})}">Following</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/search}">Search</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/logout}">Logout</a>
                    </li>
                </ul>
            </div>
            </nav>
        </div>
    </body>
</html>