<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:fragment="head(title)">
        <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
            crossorigin="anonymous" />
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <title th:text="${title}">Title</title>
        <meta charset="UTF-8" />
    </head>
    <body>
        <div style="background-color: beige; border-bottom: 2px solid black; margin-bottom: 40px;" class="row" th:fragment="links(nickname, owner)">
            <nav class="navbar navbar-expand-sm">
            <div class="collapse navbar-collapse">  
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/users}">Your wall</a>
                    </li>
                    <li th:unless="${owner}" class="nav-item">
                        <a class="nav-link" th:text="${nickname} + ' wall'" th:href="@{/users/{nick}(nick=${nickname})}"></a>
                    </li>
                    <li class="nav-item">
                        <a th:if="${owner}" class="nav-link" th:href="@{/users/{nick}/followers(nick=${nickname})}">Followers</a>
                        <a th:unless="${owner}" class="nav-link" th:text="${nickname} + ' followers'" th:href="@{/users/{nick}/followers(nick=${nickname})}">Followers</a>
                    </li>
                    <li class="nav-item">
                        <a th:if="${owner}" class="nav-link" th:href="@{/users/{nick}/following(nick=${nickname})}">Following</a>
                        <a th:unless="${owner}" class="nav-link" th:text="${nickname} + ' following'    " th:href="@{/users/{nick}/following(nick=${nickname})}">Following</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/search}">Search</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/logout}">Logout</a>
                    </li>
                </ul>
            </div>
            </nav>
        </div>
        
        <div class="col-md-3" style="padding-bottom: 30px" th:fragment="profilepic(account, owner)">
            <h2 th:text="${account.nickname} + ' profile picture'"></h2>
            <span th:if="${account.profilePicId} == null">
                <img class="card-img-top"
                    th:src="@{/img/Steren_Frog_Head.png}"
                    alt="profilepic" />
            </span>
            <span th:unless="${account.profilePicId} == null">
                <img
                    class="card-img-top"
                    style="min-width: 10%; max-width: 20%; min-height: 10%; max-height: 20%"
                    th:src="@{/users/img/{id}(id=${account.profilePicId})}"
                    alt="profilepic" />
            </span>
            <div class="text-center" style="padding-top: 10px">
                <a th:href="@{/users/{user}/album(user=${account.nickname})}" class="btn btn-primary">User album</a>
            </div>
        </div>
    </body>
</html>