<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/layout :: head(title='Album')">
        <meta charset="UTF-8" />
        <title>Hello world</title>
    </head>
    <body>
        <div class="col-md-12" th:replace="fragments/layout.html :: links(nickname=${account.nickname}, owner=${owner})"></div>
        <div class="container">
            <div class="row">
            <div th:replace="fragments/layout.html :: profilepic(account = ${account}, owner=${owner})"></div>
                <div class="col-md">
                    <div th:if="${owner}">
                        <h3>Insert new photos</h3>
                        
                        <form enctype="multipart/form-data" class="form-group" method="POST" th:action="@{/users/{user}/img(user=${account.nickname})}">
                            <input class="mb-3" type="file" name="file" id="file" /><br />
                            <input class="mb-3 form-control" type="text" placeholder="Photo description <optional>" name="description" />
                            <input type="submit" class="btn btn-primary" value="Add photo" />
                        </form>
                    </div>
                    
                    <h1 th:text="${account.nickname} + 's album'"></h1>
                    <div th:if="${account.photos.size() == 0}">
                        No photos to display
                    </div>
                    
                    <div th:unless="${notification == ''}">
                    <div class="alert alert-danger" th:text="${notification}"></div>
                    </div>
                    
                    <div th:unless="${account.photos.size() == 0}">
                        <div class="card mb-4" th:each="img : ${account.photos}">
                            <img class="card-img-top"
                                th:src="@{/users/img/{id}(id=${img.id})}" />
                            <form class="card-header" method="POST" th:action="@{/users/{username}/profilepic/{picid}(username=${account.nickname}, picid=${img.id})}">
                                <div style="float:left" th:text="${img.photoText}"></div>
                                <div style="float:right" th:if="${owner}">    
                                    <input type="submit" value="Set as profilepic" class="btn btn-primary" />
                                    <input type="submit" value="Delete" th:form="'deleteform' + ${img.id}" class="btn btn-danger" />
                                </div>
                            </form>
                            <form th:id="'deleteform'+${img.id}" method="POST" th:action="@{/delete/img/{imgid}(imgid = ${img.id})}"></form>
                            <div th:if="${isfollower}">
                                <div class="card">
                                    <h5 class="card-header">
                                        <a style="float:left" class="btn btn-primary" data-toggle="collapse" th:href="'#collapseMessage' + ${img.id}" role="button" aria-expanded="false" th:aria-controls="'collapseMessage' + ${img.id}">
                                            Click here to comment or like
                                        </a>
                                        <span style="float:right" th:text="'Likes: ' + ${img.likes.size()}"></span>
                                    </h5>
                                    <div class="collapse" th:id="'collapseMessage' + ${img.id}">
                                        <div class="card card-body">
                                            <form method="POST" th:action="@{/comment/{user}/img/{imgid}(user=${account.nickname}, imgid = ${img.id})}">
                                                <textarea id="comment" name="comment" rows="5" cols="60"></textarea><br />
                                                <input type="submit" class="btn btn-primary" value="Comment" />
                                                <input value="Like" class="btn btn-primary" th:form="'likeform' + ${img.id}" type="submit" />
                                            </form>
                                            <form th:id="'likeform'+${img.id}" method="POST" th:action="@{/like/{user}/img/{imgid}(user=${account.nickname}, imgid = ${img.id})}"></form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div th:unless="${isfollower}">
                                <div class="card">
                                    <div class="card-header">
                                        <form th:id="'likeform'+${img.id}" method="POST" th:action="@{/like/{user}/img/{imgid}(user=${account.nickname}, imgid = ${img.id})}">
                                            <input style="float:left" value="Like" class="btn btn-primary" th:form="'likeform' + ${img.id}" type="submit" />
                                            <span style="float:right" th:text="'Likes: ' + ${img.likes.size()}"></span>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div th:unless='${img.comments.size() == 0}'>
                                <div class="card" style="padding-bottom: 5px" th:each="comment: ${img.getComments()}">
                                    <h6 class="card-header" th:text="'Comment by ' + ${comment.account.nickname} + ' @ ' + ${#temporals.format(comment.commentTime, 'dd-MM-yyyy HH:mm')}"></h6>
                                    <div class="card-body" th:text="${comment.comment}"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>


