<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/layout :: head(title='Follows')">
        <meta charset="UTF-8" />
        <title>Hello world</title>
    </head>
    <body>
        <div class="container">
            <div th:replace="fragments/layout.html :: links(nickname=${account.nickname}, owner=true)"></div>

            <div th:if="${followers}">
                <div th:each="f : ${follow}">
                    <div style="padding-bottom: 5px">
                        Started following: <span th:text="${#temporals.format(f.startedFollowing, 'dd-MM-yyyy HH:mm')}"></span><br />
                        Follower: <a th:href="@{/users/{nick}(nick = ${f.thefollower.nickname})}" th:text="${f.thefollower.nickname}"></a>
                        <form th:if="${owner}"><input type="submit" value="Block user" /></form>
                    </div>
                </div>
            </div>
            <div th:unless="${followers}">
                <div th:each="f : ${follow}">
                    <p>
                        Started following: <span th:text="${#temporals.format(f.startedFollowing, 'dd-MM-yyyy HH:mm')}"></span><br />
                        Following: <a th:href="@{/users/{nick}(nick = ${f.account.nickname})}" th:text="${f.account.nickname}"></a>
                    </p>
                </div>
            </div>
        </div>
    </body>
</html>

