<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>Register new user</title>
    </head>
    <body>

        <h1>Register new user</h1>

        <br />
        <div>
            Enter information and press submit:<br/>
            
            <form method="POST" th:action="@{/register}">
                Username:<br /> 
                <input type="text" name="username" id="username"/><br/>
                
                Password:<br /> 
                <input type="password" name="password" id="password"/><br/>
                
                Confirm password: <br /> 
                <input type="password" name="passwordConfirm" id="passwordConfirm" /><br />
                
                Nickname: <br />
                <input type="text" name="nickname" id="nickname" /><br />
                
                <input type="submit"/>            
            </form>
        </div>
    </body>
</html>

