<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>Hello world</title>
    </head>
    <body>
        
        <div th:if="${owner}">
            <h1 th:text="${'Hello ' + account.nickname}">Hello world</h1>
            <h2>
                What's on your mind?
            </h2>
            <form method="POST" th:action="@{/shout}">
                <input type="text" name="tweeter" id="tweeter" />
                <input type="submit" value="Shout!" />
            </form>
        </div>
        <div th:if="${owner}">
            <div th:each="message: ${allmessages}">
                <div th:text="${message.message}"></div><br />
                <div th:text="${#temporals.format(message.messageTime, 'dd-MM-yyyy HH:mm')}"></div><br />
            </div>
        </div>
        <div th:unless="${owner}">
            <div th:each="message: ${account.messages}">
                <div th:text="${message.message}"></div><br />
                <div th:text="${#temporals.format(message.messageTime, 'dd-MM-yyyy HH:mm')}"></div><br />
            </div>
        </div>

    </body>
</html>

