<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/layout :: head(title='The wall')">
        <meta charset="UTF-8" />
        <title>Hello world</title>
    </head>
    <body>
        <div th:replace="fragments/layout.html :: links(nickname=${account.nickname}, owner=${owner})"></div>
        <div class="container">
            <div class="row">
            <div th:replace="fragments/layout.html :: profilepic(account = ${account}, owner=${owner})"></div>
            <div class="col-md">
            <div style="padding-bottom: 30px" th:if="${owner}">
                <h1 th:text="${'Hello ' + account.nickname}">Hello world</h1>
                <h2>
                    What's on your mind?
                </h2>
                <form method="POST" th:action="@{/shout}">
                    <textarea name="tweeter" id="tweeter" rows="4" cols="50"></textarea><br />
                    <input class="btn btn-primary" type="submit" value="Shout!" />
                </form>
            </div>
            <div th:unless="${owner}">
                <h1 th:text="'Users ' + ${account.nickname} + ' wall'"></h1>
            </div>
            <div th:unless="${notification == ''}">
                <div class="alert alert-danger" th:text="${notification}"></div>
            </div>
            <div>
                <div th:if="${messages.size() == 0}" th:text="'No posts by ' + ${account.nickname}"></div>
                <div th:id="'#post' + ${message.id}" style="margin-bottom: 20px" class="card" th:each="message: ${messages}">
                    <h3 class="card-header" th:text="'Post by ' + ${message.account.nickname} + ' @ ' + ${#temporals.format(message.messageTime, 'dd-MM-yyyy HH:mm')}"></h3>
                    <div class="card-body" th:text="${message.message}"></div>
                    
                    <!-- followers can comment only -->
                    <div th:if="${isfollower}">
                        <div class="card">
                            <h5 class="card-header">
                                <a style="float: left" class="btn btn-primary" data-toggle="collapse" th:href="'#collapseMessage' + ${message.id}" role="button" aria-expanded="false" th:aria-controls="'collapseMessage' + ${message.id}">
                                    Click here to comment
                                </a>
                                <span style="float:right"> 
                                    
                                    <input value="Like" class="btn btn-primary mr-3" th:form="'likeform' + ${message.id}" type="submit" />
                                    <span style="float:right" th:text="'Likes: ' + ${message.likes.size()}"></span>
                                    
                                </span>
                                
                            </h5>
                            
                            <div class="collapse" th:id="'collapseMessage' + ${message.id}">
                                <div class="card card-body">
                                    <form method="POST" th:action="@{/comment/{user}/{postid}(postid = ${message.id}, user=${account.username})}">
                                        <textarea id="comment" name="comment" rows="5" cols="60"></textarea><br />
                                        <input type="submit" class="btn btn-primary" value="Comment" />    
                                    </form>
                                    <form th:id="'likeform'+${message.id}" method="POST" th:action="@{/like/{user}/{postid}(postid = ${message.id}, user=${account.nickname})}"></form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div th:unless="${isfollower}">
                        <div class="card">
                            <div class="card-header">
                                <form th:id="'likeform'+${message.id}" method="POST" th:action="@{/like/{user}/{postid}(postid = ${message.id}, user=${account.nickname})}">
                                    <input style="float:left" value="Like" class="btn btn-primary" th:form="'likeform' + ${message.id}" type="submit" />
                                    <span style="float:right" th:text="'Likes: ' + ${message.likes.size()}"></span>
                                </form>
                            </div>
                        </div>
                    </div>
                    
                    <div th:unless='${message.comments.size() == 0}'>
                        <div class="card" style="padding-bottom: 5px" th:each="comment: ${message.getComments()}">
                            <h6 class="card-header" th:text="'Comment by ' + ${comment.account.nickname} + ' @ ' + ${#temporals.format(comment.commentTime, 'dd-MM-yyyy HH:mm')}"></h6>
                            <div class="card-body" th:text="${comment.comment}"></div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
            </div>
        </div>
    </body>
</html>

